/*
 |-----------------------------------------------
 |  Color
 |-----------------------------------------------
 */
    $color-dark   : #1D1D1D;
    $color-black  : #030303;
    $color-light  : #777777;
    $color-white  : #FFFFFF;
    $color-danger : #cb4444;
/*
|-----------------------------------------------
|   Typography
|-----------------------------------------------
*/
    @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
    
    $font-family-1 : "Manrope", sans-serif;

